#myNavbar{
	background-color: #1f1fad !important;
}

body {
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../images/fried1.jpeg") !important;
  background-size: cover;
  background-position: center;
}

h1{
	color: white;
}

body {
  font-family: 'Noto Sans KR', sans-serif !important;
  color: red;
}

.btn{
	color: orange;
	background-color: #0C7C31;
}


#about{
/*	width: 100%;
	height: 100%;*/
	background-color: white;
}


img {
	margin-top: 30px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-left: 100px;
}



#contact{
	background: #efefef;
	padding-top: 40px;
	padding-bottom: 40px;
	color: black;
	font-family: 'Roboto Slab', serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.containter3{
	display: flex;
	align-items: center;
}

.contact-form{
	padding: 15px;
}

.form-group > input{
	width: 40vw;
}

.form-group > textarea{
	width: 40vw;
	resize: none;
}

.form-control{
	border-radius: 1 !important;
	border: none !important;
}

::placeholder{
	color: #999 !important;
}


